zig-out/
zig-cache
.zig-cache/
platform/src/builtins

examples/*.ll
platform/*.bc

*.o
*.wasm
*.dylib
*.a
*.png
*.rh
*.rm
*.so
dynhost

.DS_Store
.vscode/

*.tar.br
*.tar.zst

.envrc
.direnv

generated-docs/
_old_platform/

format.sh
